<div>
  <h3> Welcome, <%=@user.username%> Here is the list of books you want to read</h3>

    <p><% @books.each.with_index(1) do |book, index| %></p>
  <div>
    <p><%= index%>. <%= book.title %></p>
      <a href="/books/<%= book.id %>/edit"> Edit this Book Title</a>
      <br></br>
    <% end %>

    <a href="/books/new"><button type="submit">Add A Book</button></a>
</div>
