<div class="container">
  <header><img src="images/paper-1100254_1920.jpg" class="img-responsive main-image" style="width: 100%;"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Books to Read</h2>

    <div class="content">
      <p>Welcome! If your anything like me, you wander through the library and book stores and come across all sorts of books you want to read. Lots of times I will take
        pictures of the books I want to read however I always seem to forget and then I never get the opportunity to read that particular book. So I decided to create an app that will
        list the books I want to read. With this app I can add books I want to read and delete them as I have read them. A little organization to my world of chaos.</p>
    </div>

    <div class="sidebar">
      <ul>
        <li><a href="signup">Sign Up</a></li>
        <li><a href="login">Log In</a></li>
        <li><a href="logout">Log Out</a></li>
      </ul>
    </div>

  </div>
</div>
